.form-g {
    display: block;
    margin-bottom: 10px;
}


.form-g label {
    display: block;
}

img {
    width: 300px;
}

h2 {
    background-color: antiquewhite;
}

.hidden {
    display: none;
}

#error {
    color: red;
    font-size: x-large;
}

#color {
    background-color: aquamarine;
    margin-right: 1100px;
}